// This file encompasses Builder.tsx, DropTarget.tsx, DropItem.tsx

// Builder.tsx
.header-text {
	font-family: 'Poppins';
}

// DropTarget.tsx
.total-energy {
	font-family: 'Poppins';
	font-weight: 500;
}
.total-cost {
	font-family: 'Poppins';
	font-weight: 500;
}
.text-legend {
	font-family: 'Poppins';
	font-weight: 500;
}
