---
import Nav from '../components/Nav'
import Info from '../components/Info'
import Builder from '../components/Builder'
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/logo-new.png" />
	<title>Battery Site Builder</title>
</head>

<body>
	<div class="relative">
		<div class="fixed z-50 w-screen">
			<Nav client:visible />
		</div>
			<Info client:visible/>
			<Builder client:only='react'/>
	</div>
</body>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
</style>
