---
import Nav from '../components/Nav'
import Info from '../components/Info'
import Builder from '../components/Builder'
import devices from '../../public/devices.json'
console.log(JSON.stringify(devices))
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/logo-new.png" />
	<title>UCSB SAE</title>
</head>

<body>
	<div class="relative">
		<div class="fixed z-50 w-screen">
			<Nav client:visible />
		</div>
			<Info client:only='react'/>
			<Builder client:only='react'/>
	</div>
</body>

